<nav>
<div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="sass.html">Home</a></li>
    <li><a href="collapsible.html">Saved Articles</a></li>
    <li><a class="waves-effect waves-light btn blah" id="scrape-btn">Scrape!</a></li>
    </ul>
</div>
</nav>